<section class="team section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-header text-center text-white pb-5">
          <h2>Developers</h2>
          <p>Estudiantes de la carrera de Ingeniería Civil en Informática, sede Chillán.</p>
          <p>Proyecto Semestral para el Electivo de Desarrollo de Frontend con Angular.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card text-center bg-dark">
          <div class="card-body text-white">
            <img src="../../assets/samuel.jpg" class="img-fluid rounded-circle" alt="">
            <h3 class="card-title py-2">Samuel González</h3>
            <p class="card-body">Estudiante de quinto año de Ingeniería civil en Informática.</p>
            <p class="card-body">Developer.</p>
            <p class="socials">
              <i class="bi bi-twitter text-white mx-1"></i>
              <i class="bi bi-facebook text-white mx-1"></i>
              <i class="bi bi-linkedin text-white mx-1"></i>
              <i class="bi bi-instagram text-white mx-1"></i>
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-3">
        <div class="card text-center bg-dark">
          <div class="card-body text-white">
            <img src="../../assets/miguel.jpg" class="img-fluid rounded-circle" alt="">
            <h3 class="card-title py-2">Miguel Quintana</h3>
            <p class="card-body">Estudiante de quinto año de Ingeniería civil en Informática.</p>
            <p class="card-body">Developer.</p>
            <p class="socials">
              <i class="bi bi-twitter text-white mx-1"></i>
              <i class="bi bi-facebook text-white mx-1"></i>
              <i class="bi bi-linkedin text-white mx-1"></i>
              <i class="bi bi-instagram text-white mx-1"></i>
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-3">
        <div class="card text-center bg-dark">
          <div class="card-body text-white">
            <img src="../../assets/martin.jpg" class="img-fluid rounded-circle" alt="">
            <h3 class="card-title py-2">Martin Villalobos</h3>
            <p class="card-body">Estudiante de quinto año de Ingeniería civil en Informática.</p>
            <p class="card-body">Developer.</p>
            <p class="socials">
              <i class="bi bi-twitter text-white mx-1"></i>
              <i class="bi bi-facebook text-white mx-1"></i>
              <i class="bi bi-linkedin text-white mx-1"></i>
              <i class="bi bi-instagram text-white mx-1"></i>
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-3">
        <div class="card text-center bg-dark">
          <div class="card-body text-white">
            <img src="../../assets/profe.jpg" class="img-fluid rounded-circle" alt="">
            <h3 class="card-title py-2">Luis Gajardo</h3>
            <p class="card-body">Docente a cargo del proyecto.</p>
            <p class="card-body">Maestro.</p>
            <p class="socials">
              <i class="bi bi-twitter text-white mx-1"></i>
              <i class="bi bi-facebook text-white mx-1"></i>
              <i class="bi bi-linkedin text-white mx-1"></i>
              <i class="bi bi-instagram text-white mx-1"></i>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
