<body>
  <div class="wrapper">
    <div class="form-box login">
      <h2>LOGIN</h2>
      <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
        <div class="input-box">
          <label for="email" class="form-label">Email:</label>
          <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
          formControlName="email">
        </div>
        <div class="input-box">
          <label for="contraseña" class="form-label">Contraseña:</label>
          <input type="password" class="form-control" id="contraseña" formControlName="contraseña">
        </div>

        <div class="remember-forgot">
          <label><input type="checkbox"> Recuérdame</label>
          <a routerLink="/forgot" href="#">¿Olvidó su contraseña?</a>
        </div>
        <button class="btn" type="submit" [disabled]="!loginForm.valid">Ingresar</button>

        <div class="login-register">
          <p>¿No tiene una cuenta?
            <a routerLink="/registro" href="#" class="register-link">Regístrese</a>
          </p>
        </div>
      </form>
    </div>
  </div>


</body>
