body {
  display: flex;
  justify-content: center;
  align-items:  center;
  min-height: 100vh;
  background: url(../../assets/background-feid.jpg);
  background-size: cover;
  background-position: center;
}

.wrapper {
  position:relative;
  width: 400px;
  height: 440px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow:0 0 30px rgba(0,0,0,.5);
  display:flex;
  justify-content: center;
  align-items: center;
}

.wrapper .form-box{
  width: 100%;
  padding: 40px;
}

.form-box h2{
  font-size: 2em;
  color: #162938;
  text-align: center;
}

.input-box{
  position:relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #162938;
  margin:30px 0;
}

.input-box label{
  position: absolute;
  top: 50px;
  left: 5px;
  transform: translateY(-50px);
  font-size: 1em;
  color: #162938;
  font-weight: 500;
  pointer-events: none;
  transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label{
  top: -5px;
}

.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #162938;
  font-weight: 600;
  padding: 0 35px 0px;
}

.remember-forgot{
  font-size: .9em;
  color:#162938;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}

.remember-forgot label input{
  accent-color: #162934;
  margin-right: 3px;
}

.remember-forgot a{
  color:#162938;
  text-decoration: none;
}

.remember-forgot a:hover{
  text-decoration: underline;
}

.btn{
  width: 100%;
  height: 45px;
  background: #162938;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor:pointer;
  font-size: 1em;
  color:#fff;
  font-weight: 500;
}

.login-register{
  font-size: .9em;
  color: #162938;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}

.login-register p a{
  color: #162938;
  text-decoration: none;
  font-weight: 600;
}

.login-register p a:hover{
  text-decoration: underline;
}
