<div class="container" style="height: 70vh;">
<h1 style="color: white;padding-bottom: 1rem;">Compra Exitosa</h1>
<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Entrada</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Precio</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of compras">
        <td>{{c.nombreTicket}}</td>
        <td>{{c.cantidad}}</td>
        <td>{{c.cantidad*c.precioTicket}}</td>
      </tr>
      <tr>
        <td>Total</td>
        <td></td>
        <td>{{compras[0].Total}}</td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-primary"  (click)="descargar()">Descargar Ticket</button>
</div>