<footer class="py-3 my-4">
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item"><a href="#" class="nav-link px-2 ">Inicio</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 ">Eventos</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 ">Reembolsos</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 ">Preguntas</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 ">Contacto</a></li>
  </ul>
  <p class="text-center">© 2023 Decibelios, Inc</p>
</footer>
