<!-- NUEVO NAVBAR-->


<div>
  <header>
    <nav class="logotipo">
      <img class="imagen" src="../../assets/Decibelios.png">
      <h2 class="logo">Decibelios</h2>
    </nav>

    <nav class="navigation">
      <a [routerLink]="['welcome']" href="#">Inicio</a>
      <a [routerLink]="['evento']" href="#">Eventos</a>
      <a [routerLink]="['galeria']" href="#">Galería</a>
      <a [routerLink]="['nosotros']" href="#">Nosotros</a>
      <button [routerLink]="['login']" class="btnLogin-popup">Login</button>
    </nav>
  </header>
</div>



<!-- VIEJO NAVBAR-->
<!--
<nav class="navbar navbar-expand-lg bg-body-tertiary" style="margin-bottom: 1.5rem ;">
    <div class="container-fluid">
        <a class="navbar-brand mb-0 h1" href="#">
            <img src="../../assets/Decibelios.png" alt="Logo" width="60" height="60"
                class="d-inline-block">
            Decibelios
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a [routerLink]="['welcome']" class="nav-link active" aria-current="page">Inicio</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['evento']" class="nav-link" href="#">Eventos</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['galeria']" class="nav-link" href="#">Galería</a>
                </li>

                <li class="nav-item">
                  <a [routerLink]="['welcome']" class="nav-link" href="#">Nosotros</a>
                </li>
            </ul>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a [routerLink]="['login']" class="btn btn-outline-primary mr-2" type="button" href="#">Log in</a>
                <a [routerLink]="['registro']" class="btn btn-primary ml-2" href="#">Registro</a>
            </div>
            <br>
            <form class="d-flex" role="search">
                <input class="form-control me-2 ml-2" type="search" placeholder="Buscar evento..." aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
        </div>
    </div>
</nav>
-->

<div class="contenedor">
  <router-outlet></router-outlet>
</div>

