/*
.container-fluid{
    display: flex;
    align-items: center;
}
*/

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  /*font-family: 'Poppins', sans-serif;*/
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}

.contenedor {
  padding-top: 7%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.5);
}

.logotipo {
  display: flex;
  align-items: center;
}

.imagen {
  width: 60px;
  height: 60px;
}

.logo {
  font-size: 2em;
  color: #fff;
  user-select: none;
  padding-left: 10px;
}

.navigation a {
  position: relative;
  font-size: 1.1em;
  color:#fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}

.navigation a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  transform: scaleX(0);
  transition: transform .5s;
}

.navigation a:hover::after {
  transform: scaleX(1);
}

.navigation .btnLogin-popup {
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid #fff;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: #fff;
  font-weight: 500;
  margin-left: 40px;
  transition: .5s;
}

.navigation .btnLogin-popup:hover {
  background: #fff;
  color: #162938;
}
