<section class="portafolio section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-header text-center text-white pb-5">
          <h1>Galería de Eventos e Imágenes</h1>
          <p>¡Entérate de los eventos ocurridos y encuéntrate en el carrete de imagenes para tus redes sociales!</p>
        </div>
      </div>
    </div>

    <div class="row mt-5">

      <!-- LOS VASQUEZ -->
      <div class="col-md-12 mt-5">
        <div class="section-header text-center text-white">
          <h3>Los Vásquez</h3>
          <p>26 de junio de 2023</p>
        </div>
      </div>

      <div class="col-12 col-md-12 col-lg-4">
        <div class="card text-light text-center bg-dark pb-2">
          <div class="card-body text-white">
            <div class="img-area">
              <img src="../../assets/losvasquez1.jpg" class="img-fluid"
                alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-12 col-lg-4">
        <div class="card text-light text-center bg-dark pb-2">
          <div class="card-body text-white">
            <div class="img-area">
              <img src="../../assets/losvasquez2.jpg" class="img-fluid"
                alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-12 col-lg-4">
        <div class="card text-light text-center bg-dark pb-2">
          <div class="card-body text-white">
            <div class="img-area">
              <img src="../../assets/losvasquez3.jpg" class="img-fluid"
                alt="">
            </div>
          </div>
        </div>
      </div>

      <!-- STREET KING -->
      <div class="col-md-12 mt-5">
        <div class="section-header text-center text-white">
          <h3>STREET KING</h3>
          <p>15 de junio de 2023</p>
        </div>
      </div>
      <div class="col-12 col-md-12 col-lg-4">
        <div class="card text-light text-center bg-dark pb-2">
          <div class="card-body text-white">
            <div class="img-area">
              <img src="../../assets/streetkingz1.jpeg" class="img-fluid"
                alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-12 col-lg-4">
        <div class="card text-light text-center bg-dark pb-2">
          <div class="card-body text-white">
            <div class="img-area">
              <img src="../../assets/streetkingz2.jpeg" class="img-fluid"
                alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-12 col-lg-4">
        <div class="card text-light text-center bg-dark pb-2">
          <div class="card-body text-white">
            <div class="img-area">
              <img src="../../assets/streetkingz3.jpeg" class="img-fluid"
                alt="">
            </div>
          </div>
        </div>
      </div>

      <!-- SLOWDIVE -->
      <div class="col-md-12 mt-5">
        <div class="section-header text-center text-white">
          <h3>SLOWDIVE</h3>
          <p>3 de junio de 2023</p>
        </div>
      </div>
      <div class="col-12 col-md-12 col-lg-4">
        <div class="card text-light text-center bg-dark pb-2">
          <div class="card-body text-white">
            <div class="img-area">
              <img src="../../assets/slowdive1.jpg" class="img-fluid" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-12 col-lg-4">
        <div class="card text-light text-center bg-dark pb-2">
          <div class="card-body text-white">
            <div class="img-area">
              <img src="../../assets/slowdive2.jpg" class="img-fluid" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-12 col-lg-4">
        <div class="card text-light text-center bg-dark pb-2">
          <div class="card-body text-white">
            <div class="img-area">
              <img src="../../assets/slowdive3.jpg" class="img-fluid" alt="">
            </div>
          </div>
        </div>
      </div>

      <!-- MORRISEY -->
      <div class="col-md-12 mt-5">
        <div class="section-header text-center text-white">
          <h3>MORRISEY</h3>
          <p>26 de junio de 2023</p>
        </div>
      </div>
      <div class="col-12 col-md-12 col-lg-4">
        <div class="card text-light text-center bg-dark pb-2">
          <div class="card-body text-white">
            <div class="img-area">
              <img src="../../assets/morrisey1.jpg" class="img-fluid" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-12 col-lg-4">
        <div class="card text-light text-center bg-dark pb-2">
          <div class="card-body text-white">
            <div class="img-area">
              <img src="../../assets/morrisey2.jpg" class="img-fluid" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-12 col-lg-4">
        <div class="card text-light text-center bg-dark pb-2">
          <div class="card-body text-white">
            <div class="img-area">
              <img src="../../assets/morrisey3.jpg" class="img-fluid" alt="">
            </div>
          </div>
        </div>
      </div>

      <!-- THE DREAM -->
      <div class="col-md-12 mt-5">
        <div class="section-header text-center text-white">
          <h3>THE DREAM SHOW</h3>
          <p>28 de mayo de 2023</p>
        </div>
      </div>
      <div class="col-12 col-md-12 col-lg-4">
        <div class="card text-light text-center bg-dark pb-2">
          <div class="card-body text-white">
            <div class="img-area">
              <img src="../../assets/dreamer1.JPG" class="img-fluid" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-12 col-lg-4">
        <div class="card text-light text-center bg-dark pb-2">
          <div class="card-body text-white">
            <div class="img-area">
              <img src="../../assets/dreamer2.jpg" class="img-fluid" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-12 col-lg-4">
        <div class="card text-light text-center bg-dark pb-2">
          <div class="card-body text-white">
            <div class="img-area">
              <img src="../../assets/dreamer3.jpg" class="img-fluid" alt="">
            </div>
          </div>
        </div>
      </div>

      <!-- 31 MINUTOS -->
      <div class="col-md-12 mt-5">
        <div class="section-header text-center text-white">
          <h3>31 MINUTOS SHOW</h3>
          <p>20 de mayo de 2023</p>
        </div>
      </div>
      <div class="col-12 col-md-12 col-lg-4 ms-auto">
        <div class="card text-light text-center bg-dark pb-2">
          <div class="card-body text-white">
            <div class="img-area">
              <img src="../../assets/minutos1.jpg" class="img-fluid" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-12 col-lg-4 ms-auto">
        <div class="card text-light text-center bg-dark pb-2">
          <div class="card-body text-white">
            <div class="img-area">
              <img src="../../assets/minutos2.jpg" class="img-fluid" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-12 col-lg-4 ms-auto">
        <div class="card text-light text-center bg-dark pb-2">
          <div class="card-body text-white">
            <div class="img-area">
              <img src="../../assets/minutos3.jpg" class="img-fluid" alt="">
            </div>
          </div>
        </div>
      </div>

    </div> <!-- FIN DEL ROW-->











  </div>

</section>
