<div class="card border-primary mb-2">
  <div class="card-header">Crear Evento</div>
  <div class="card-body text-primary">
    <form [formGroup]="fG" (ngSubmit)="submitForm()" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre evento</label>
        <input
          type="text"
          class="form-control"
          id="nombre"
          formControlName="name"
        />
        
        <label for="imagen" class="form-label">Poster del evento</label>
        <input type="file" class="form-control" id="imagen" formControlName="file" placeholder="subir luego">
        <label for="imagen2" class="form-label">Imagen del evento</label>
        <input type="file" class="form-control" id="imagen2" formControlName="file2" placeholder="subir luego">

        <label for="desc" class="form-label">Descripcion del evento</label>
        <input type="text" class="form-control" id="desc" formControlName="desc">
        <label for="precio" class="form-label">Precio del Evento</label>
        <input type="number" class="form-control" id="precio" formControlName="price">

        <label for="fechaI" class="form-label">Fecha de Inicio</label>
        <input type="date" class="form-control" id="fechaI" formControlName="dateI">
        <label for="fechaT" class="form-label">Fecha de Termino</label>
        <input type="date" class="form-control" id="fechaT" formControlName="dateF">
        <label for="horaI" class="form-label">Hora de Inicio</label>
        <input type="time" class="form-control" id="horaI" formControlName="timeI">
        <label for="horaT" class="form-label">Hora de Inicio</label>
        <input type="time" class="form-control" id="horaT" formControlName="timeF">
        <label for="lugar" class="form-label">Lugar del evento</label>
        <input type="text" id="lugar" class="form-control" formControlName="place">
        <label for="categoria" class="form-label">Categoria del evento</label>
        <input type="text" id="categoria" class="form-control" formControlName="cat">
        <label for="descripcion2" class="form-label">Descripcion en profundo</label>
        <input type="text" id="descripcion2" class="form-control" formControlName="decs2"> 
      </div>

      <button type="submit" [disabled]="!fG.valid" class="btn btn-primary">
        Crear
      </button>
    </form>
  </div>
</div>
