<div class="card border-primary mb-3 text-center">
    <div class="card-header">Lista de Compras</div>
    <div class="card-body text-primary">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Id de Compra</th>
              <th>Id de Usuario</th>
              <th>Fecha de Compra</th>
              <th>Nombre del Evento</th>
              <th>Total</th>
              <th>Boleta</th>
            </tr>
          </thead>
          <tr *ngFor="let compra of compras">
            <td>{{compra.Compra_id}}</td>
            <td>{{compra.Usuario_id}}</td>
            <td>{{compra.FechaCompra}}</td>
            <td>{{compra.NombreEvento}}</td>
            <td>{{compra.Total}}</td>
            <td>{{compra.Pdf}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>