<div class="card border-primary mb-3 text-center">
    <div class="card-header">Lista de Eventos</div>
    <div class="card-body text-primary">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Evento</th>
              <th>Fecha Termino</th>
              <th>Descripcion</th>
            </tr>
          </thead>
          <tr *ngFor="let evento of eventos">
            <td>{{evento.nombre}}</td>
            <td>{{evento.fecha_termino}}</td>
            <td>{{evento.descripcion}}</td>
            <td>
              <div>
                &nbsp;
                <button class="btn btn-danger" (click)="deleteEvento(evento.id_evento)">
                  <i class="fa fa-trash-o"></i> Borrar
                </button>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
