#carouselExampleInterval img {
  width: 100%; /* Set the width to your desired value */
  height: 600px;  /* Maintain the aspect ratio */
  object-fit: cover;
}

#myCarousel {
  margin: 0 auto;
  max-width: 600px; /* Set the maximum width of the carousel */
}