<section class="services section-padding">
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="1000">
            <a routerLink="/evento-selec/{{eventos[0].id_evento}}"><img src="{{eventos[0].imagen}}"  alt="..."></a>
                
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{eventos[0].nombre}}</h5>
                    <p>{{eventos[0].descripcion}}</p>
                </div>
        
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <a routerLink="/evento-selec/{{eventos[1].id_evento}}"><img src="{{eventos[1].imagen_2}}"  alt="..."></a>
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{eventos[1].nombre}}</h5>
                    <p>{{eventos[1].descripcion}}</p>
                </div>
        
          </div>
          <div class="carousel-item">
            <a routerLink="/evento-selec/{{eventos[2].id_evento}}"><img src="{{eventos[2].imagen}}"  alt="..."></a>
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{eventos[2].nombre}}</h5>
                    <p>{{eventos[2].descripcion}}</p>
                </div>
        
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>
