<div class="d-flex" id="wrapper">

  <!-- Sidebar -->
  <!----------------------------------------------------->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">
      <div class="user-panel">
        <div class="pull-left image">
          <img width="50" alt="logo" class="rounded-circle" src="../../assets/Decibelios.png">
        </div>
        <div>
          <p id="titulo">Decibelios</p>
        </div>
      </div>
    </div>

    <!-- Menu -->
    <div class="sidebar left ">
      <ul class="list-sidebar bg-defoult">
        <li><a type="button" (click)="nuevoEvento()">Crear Evento</a></li>
        <li><a type="button" (click)="Evento()">Eventos</a></li>
        <li> <a type="button" (click)="Historial()"><span class="nav-label">Historial de Eventos</span></a> </li>
        <li> <a type="button" (click)="Compras()"><span class="nav-label">Historial de Compras</span></a> </li>
        <li><a type="button" (click)="this.logService.logout()">Cerrar Sesion</a></li>
      </ul>
    </div>

  </div>
  <!-- Inner Content -->

  <div *ngIf="historial" class="container-fluid">
    <app-historial></app-historial>
  </div>
  <div *ngIf="evento" class="container-fluid">
    <app-crud></app-crud>
  </div>
  <div *ngIf="eventoNuevo" class="container-fluid">
    <app-nuevo-evento></app-nuevo-evento>
  </div>
  <div *ngIf="compras" class="container-fluid">
    <app-compras></app-compras>
  </div>
</div>