<div class="container d-flex">
    <div class="row justify-content-md-center">
    <div class="col" *ngFor="let evento of eventos">
        <div class="card text-bg-dark" style="width: 18rem; ">
            <img [src]='evento.imagen' class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">{{evento.nombre}}</h5>
            <p class="card-text">{{evento.descripcion}}</p>
            <a routerLink="/evento-selec/{{evento.id_evento}}"  class="btn btn-primary">Ver Evento</a>
            </div>
        </div>
    </div>
</div>
</div>
