
<!--NUEVO FORGOT PASS-->
<body>
  <div class="wrapper">
    <div class="form-box login">
      <h2>¿Olvidaste la Contraseña?</h2>
      <form [formGroup]="olvideForm" (ngSubmit)="submitForm()">
        <div class="input-box">
          <label for="email" class="form-label">Ingresa tu email para verificar la cuenta:</label>
          <input type="email" class="form-control" id="email" aria-describedby="emailHelp" formControlName="email">
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!olvideForm.valid">Ingresar</button>
      </form>
    </div>
  </div>
</body>
