/* You can add global styles to this file, and also import other style files */
body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./assets/background-neon-blue.jpg);
  background-size: cover;
  background-position: center;
}
