<div class="container">
  <div class="card text-bg-dark">
    <img src="{{evento.imagen_2}}" class="card-img"
      alt="...">
    <div class="card-img-overlay d-flex flex-column justify-content-end">
      <h5 class="card-title" style="color:rgb(255, 255, 255)">{{evento.categoria}}: {{evento.nombre}}</h5>
      <i class="bi bi-calendar-date"></i>
      <p class="card-text" style="color:rgb(255, 255, 255)">{{evento.fecha_inicio}}</p>
      <p class="card-text" style="color:rgb(253, 253, 253)"><small>{{evento.lugar}}</small></p>
    </div>
  </div>
  <div class="row" style="margin-top: 3rem; color:white">
    <div class="col-md-8">
      <h2>Descripción</h2>
      <p>{{evento.descripcion2}}</p>
      <h2>Lugar</h2>
      <p>{{evento.lugar}}</p>

      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1132.415958816076!2d-72.08607663232259!3d-36.60336839744894!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2scl!4v1690838870830!5m2!1sen!2scl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="col-md-4">
      <h2>Boletos</h2>
      <div *ngFor="let ticket of tickets" style="display: flex;">
        <p style="font-weight:bold;margin-right: 0.5rem;">{{ticket.nombre}}:</p><p>{{ticket.precio}}CLP</p>
      </div>
      <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Reservar Boletos
      </button>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal modal-lg fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Reservar Boletos</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
          <p class="mb-0 lead lead-caption text-center">Información de Reserva</p>
          <ul class="list-group m-0">
            <li class="list-group-item d-flex justify-content-between lh-condensed d-flex-wrap">
              <div>
                <h6 class="my-0"><strong>Categoría Evento</strong></h6>
                <p class="mb-2"><br><small>{{evento.categoria}}</small></p>
                <div>
                  <p><small><strong>Lugar</strong></small></p>
                  <p><small class="text-muted">{{evento.lugar}}</small> <!----></p>
                </div>
              </div>
              <div>
                <h6 class="my-0"><strong>Inicio - Término Fecha</strong></h6>
                <p class="mb-2">{{this.datepipe.transform(evento.fecha_inicio, 'dd-MM-YYYY')}}<small><strong>-</strong></small>
                  <br>
                  {{this.datepipe.transform(evento.fecha_termino, 'dd-MM-YYYY')}}
                </p>
                <div>
                  <p>
                    <small><strong>Tiempos</strong></small>
                  </p>
                  <p><small class="text-muted">{{evento.hora_Inicio}} - {{evento.hora_termino}}</small></p>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-md-12">
          <p class="mb-0 lead lead-caption text-center">Tickets</p>
          <ul id="pEl" #pdfElement class="list-group m-0">
            <li  *ngFor="let t of tickets ; index as i"  class="list-group-item d-flex justify-content-between lh-condensed d-flex-wrap"><input type="hidden"
                name="ticket_id[]" class="form-control" value="3000"> <input type="hidden" name="ticket_title[]"
                class="form-control" value="General">
              <div class="w-50">
                <h6 class="my-0"><strong>{{t.nombre}}</strong></h6>
                <p class="mb-2">{{t.precio}} <small>CLP</small></p>
              </div>
              <div class="w-10 w-20-mobile">
                <div><select name="quantity[]" class="form-control form-input-sm" (change)="onChange($event,t.precio,i)">
                    <option value="0" selected="selected">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                  </select> </div>
              </div>

            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed d-flex-wrap">
              <h6 class="my-0"><strong>Total Compra</strong></h6>
              <div class="w-30 text-right"><strong>
                {{this.totalCompra}}
                <small>CLP</small></strong> <!----></div>
            </li>

          </ul>
        </div>
      </div>
      <div >
        <div *ngIf="mostrarElemento" class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button *ngIf="mostrarElemento" type="button" (click) =  "pagar()" class="btn btn-primary">Pagar</button>
        </div>
        <div *ngIf="!mostrarElemento" class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a routerLink="/login" class="btn btn-outline-primary mr-2" type="button" data-bs-dismiss="modal">Log in</a>
            <a routerLink="/registro" class="btn btn-primary ml-2" data-bs-dismiss="modal">Registro</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

