<!--MUESTRA EN LA PAGINA LA NAVBAR-->
<div *ngIf="!isVerticalNavActive">
    <app-navbar></app-navbar>
</div>
<div *ngIf="isVerticalNavActive">
    <app-side-bar></app-side-bar>
</div>
<app-footer></app-footer>