<!-- NUEVO REGISTRO-->

<body>
  <div class="wrapper">
    <div class="form-box login">
      <h2>Regístrate</h2>
      <form [formGroup]="registroForm" (ngSubmit)="submitForm()">
        <div class="input-box">
          <label for="nombre" class="form-label">Nombre:</label>
          <input type="text" class="form-control" id="nombre" aria-describedby="nombreHelp" formControlName="nombre">
        </div>
        <div class="input-box">
          <label for="email" class="form-label">Email:</label>
          <input type="email" class="form-control" id="email" aria-describedby="emailHelp" formControlName="email">
        </div>
        <div class="input-box">
          <label for="contraseña" class="form-label">Contraseña:</label>
          <input type="password" class="form-control" id="contraseña" formControlName="contraseña">
        </div>
        <div class="mb-3">
          <a routerLink="/login" href="#">¿Ya tienes cuenta?</a>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!registroForm.valid">Registrarse</button>
      </form>
    </div>
  </div>
</body>
